<!-- hint.css -->
BODY{
	background-color: white;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}


DIV.title{
	font-weight: bold;
	margin-bottom: 0.2em;
}

DL.terminal{
	margin-left:1em;
}
