/* $Id: contents.css,v 1.24 2005/03/23 01:13:37 k-narumi Exp $ */

body {
	font-family:      verdana, sans-serif;
	background-color: #ffffff/*#f7f9f9*/;
	margin:           3px;
}

p.location {
	color:            #ffffff;
	background-color: #666666;
	font-size:        10pt;
	font-weight:      bold;
	text-align:       center;
	margin-top:       4px;
}

p.paraname {
	color:            #ffffff;
	background-color: #666666;
	font-size:        12pt;
	font-weight:      bold;
	text-align:       center;
	margin-top:       6px;
}

p.subparaname {
	color:            #232323;
	background-color: #cccccc;
	font-size:        10pt;
	font-weight:      bold;
	text-align:       center;
	margin:           4px 0px 4px 0px;
}

p.subname {
	color:       #000000;
	font-size:   12pt;
	font-weight: bold;
}

b {
	font-size: 10pt;
}

th {
	color:       #000000;
	font-size:   10pt;
	font-weight: normal;
}

td {
	color:       #666666;
	font-size:   10pt;
	font-weight: normal;
	word-break:  normal;
}

td.title {
	color:            #ffffff;
	background-color: #666666;
	font-size:        13pt;
	font-weight:      bold;
	text-align:       center;
	border-style:     none;
	border-color:     #cccccc;
	word-break:      normal;
}

td.para {
	color:            #666666;
	background-color: #cccccc;
	font-size:        11pt;
	font-weight:      bold;
	padding-left:     5px;
	border-style:     none;
	border-color:     #cccccc;
	word-break:      normal;
}

td.s1 {
	color:            #666666;
	background-color: #dfedf0;
	font-size:        10pt;
	font-weight:      bold;
	padding-left:     18px;
	border-style:     none;
	border-color:     #cccccc;
	word-break:      normal;
}

td.xrefcolor{
	color:            #666666;
	background-color: #ffe4e1;
	font-size:        10pt;
	font-weight:      bold;
	padding-left:     18px;
	border-style:     none;
	border-color:     #cccccc;
	word-break:      normal;
}

th.pointdisplaytitle {
	background-color: #cccccc;
}

ol {
	color:       #666666;
	font-size:   10pt;
	font-weight: normal;
	margin-left: 30px;
}

ol.s2 {
	color:           #5b80a4;
	font-size:       11pt;
	font-weight:     bold;
	list-style-type: lower-alpha;
	margin-left:     33px;
}

ol.s3 {
	color:           #55969d;
	font-size:       11pt;
	font-weight:     bold;
	list-style-type: lower-roman;
	margin-left:     20px;
}

li .list-ttl {
	color:           #666666;
}

.list-ttl {
	font-size:       10pt;
	font-weight:     bold;
	margin-top: 5px;
}

ol.topic {
	list-style-type: none;
	margin-left:     20px;
}

dt.warning {
	color:       #ff0000;
	font-size:   10pt;
	font-weight: bold;
}

dd.warning {
	color:       #ff0000;
	font-size:   10pt;
	font-weight: normal;
	margin-left: 10px;
}

dd.warning th {
	color: #ff0000;
}

dd.warning td {
	color: #ff0000;
}


dd.warning caption {
	color: #ff0000;
}

dd.warning div {
	color: #ff0000;
}

dt.caution {
	color:       #e88517;
	font-size:   10pt;
	font-weight: bold;
}

dd.caution {
	color:       #e88517;
	font-size:   10pt;
	font-weight: normal;
	margin-left: 10px;
}

dd.caution th {
	color: #e88517;
}

dd.caution td {
	color: #e88517;
}

dd.caution caption {
	color: #e88517;
}

dd.caution div {
	color: #e88517;
}

dt.reference {
	color:       #008000;
	font-size:   10pt;
	font-weight: bold;
}

dd.reference {
	color:       #008000;
	font-size:   10pt;
	font-weight: normal;
	margin-left: 10px;
}

dd.reference th {
	color: #008000;
}

dd.reference td {
	color: #008000;
}

dd.reference caption {
	color: #008000;
}

dd.reference div {
	color: #008000;
}

dt.torque {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}

dd.torque {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
	margin-left: 32px;
}

dd.subtitle {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
	margin-left: 16px;
}

dt.spec {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
}

dd.spec {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
	margin-left: 5px;
}

dt.sst {
	color:       #fc9b87;
	font-size:   10pt;
	font-weight: bold;
	font-style:  italic;
}

dd.sst {
	color:       #fc9b87;
	font-size:   10pt;
	font-weight: bold;
	margin-left: 15px;
}

img.half {
	width:    330px;
	border:   solid 1px #333333;
	margin:   3px 2px 4px 8px;
	position: relative;
	float:    none;
}

img.full {
	width:    98%;
	border:   solid 1px #000000;
	margin:   3px 2px 4px 4px;
	position: relative;
	float:    none;
}

img.none {
	border:   none;
	margin:   8px 0px 8px 8px;
	position: relative;
}

img.dummy {
	height:   1px;
	border:   none;
	margin:   0px;
	position: relative;
	float:    none;
}

table.float {
	border:   0px;
	margin:   0px;
	position: relative;
	float:    right;
}

a:link {
	font-size:       10pt;
	text-decoration: underline;
}

a:visited {
	font-size:       10pt;
	text-decoration: underline;
}

a:hover {
	font-size:       10pt;
	text-decoration: underline;
	color:#ff0033;
}

a:active {
	font-size:       10pt;
	text-decoration: underline;
}

a.tbl-para {
	width:           100%;
	height:          20px;
	font-size:       10pt;
	text-decoration: none;
	border:          solid 0px #a3b5bc;
	padding-top:     3px;
	padding-left:    5px;
	word-break:      normal;
	text-decoration: none;
}

a.tbl-para:link {
	color:            #666666;
	background-color: #c7d0d6;
	text-decoration: none;
}

a.tbl-para:visited {
	color:            #666666;
	background-color: #c7d0d6;
	text-decoration: none;
}

a.tbl-para:hover {
	color: #db883d;
	background-color: #dde3e6;
	text-decoration: none;
}

a.tbl-para:active {
	color:            #ffffff;
	background-color: #a9b2b7;
	text-decoration: none;
}

.tbl-par {
	background-color: #c7d0d6;
	border-style:     solid;
	border-width:     1px 1px 1px 5px;
	border-color:     #f0f0f0 #f0f0f0 #f0f0f0 #a3b5bc;
	padding-left:     0px;
}

.tbl-sec {
	color:            #ffffff;
	background-color: #a8c0ce;
	font-size:        10pt;
	text-align:       center;
}

.tbl-ttl {
	color:            #666666;
	background-color: #dde3e6;
	font-size:        10pt;
	border-style:     solid;
	border-color:     #f0f0f0;
	border-width:     1px 2px 1px 1px;
	padding-left:     5px;
}

.tbl-head {
	color:            #666666;
	background-color: #c9c9c9;
	font-size:        10pt;
	text-align:       center;
	padding-top:      5px;
	padding-bottom:   5px;
	padding-left:     5px;
	padding-right:    5px;
}

.tbl-cap {
	color:            #666666;
	background-color: #ffffff;
	font-size:        14pt;
	font-weight:      bold;
	margin-left:      7px;
}

.subpara {
	width:            100%;
	color:            #000099;
	background-color: #eeeeee;
	font-size:        12pt;
	font-weight:      bold;
	text-align:       left;
}

.gray4 {
	color:            #ffffff;
	background-color: #b4bcc5;
	font-size:        9pt;
	font-weight:      bold;
	text-align:       left;
	margin:           4px 0px 4px 0px;
	padding-left:     4px;
}

.gray5 {
	color:            #006699;
	background-color: #b4bcc5;
	font-size:        12pt;
	font-weight:      bold;
	text-align:       right;
	padding:          5px 10px 5px 10px;
}

.message {
	width:       550px;
	height:      550px;
	color:       #5b80a4;
	font-size:   10pt;
	font-weight: bold;
}

.tbl-title {
	padding-top: 6px;
	color:       #5b80a4;
	font-size:   10pt;
	font-weight: bold;
	text-align:  left	
}

.diag-fin {
	color:            #333333;
	background-color: #ffff99;
	font-size:        10pt;
	font-weight:      bold;
	text-align:       center;
	vertical-align:   middle;
	border-style:     solid;
	border-color:     #cc6600;
	border-width:     1px;
}

.diag-next {
	color:            #333333;
	background-color: #ccff99;
	font-size:        10pt;
	font-weight:      bold;
	text-align:       center;
	vertical-align:   middle;
	border-style:     solid;
	border-color:     #008000;
	border-width:     1px;
}

.illustId {
	color:      #333333;
	font-size:  9pt;
	text-align: left;
}

.pages {
	color:      #333333;
	font-size:  9pt;
	text-align: center;
}

font.ptxt{
	color:       #000000;
	font-size:   10pt;
	font-weight: normal;
}

li.atten2 {
	color: #ff0000;
}

li.atten3 {
	color: #e88517;
}

li.atten4 {
	color: #008000;
}

input.submit-button {
	color:        #333333;
	font-size:    10pt;
	border:       solid;
	border-width: 1px;
	border-color: #000000;
	cursor:       hand;
}
span.printseepage {
	text-decoration: underline;
}
