/* $Id: txtsearch.css,v 1.2 2003/10/22 08:45:17 sugita Exp $ */

td.tabbase {
	color: #000000;
	background-color: #c0ccee;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 3px;
}

td.tabtarget {
	color: #000000;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 3px;
}

.tab-dark-spacer {
	background-color: #666666;
}

.tab-pale-spacer {
	background-color: #999966;
}

thead.srh-ret {
	background-color: #e3e9f8;
}

th.srh-retcat {
	color: #000000;
	text-align: left;
	font-size: 9pt;
	font-weight: bold;
}

th.srh-retnum {
	color: #000000;
	text-align: right;
	font-size: 9pt;
	font-weight: normal;
}

.srh-ret-spacer {
	background-color: #9b9b9b;
}

a.srh-ret:link {
	font-size:       10pt;
	text-decoration: underline;
}

a.srh-ret:visited {
	color:           #0000ff;
	font-size:       10pt;
	text-decoration: underline;
}

a.srh-ret:hover {
	color:           #FF2222;
	font-size:       10pt;
	text-decoration: underline;
}

a.srh-ret:active {
	font-size:       10pt;
	text-decoration: underline;
}

.srh-nohit {
	color:           #990000;
	font-size:       10pt;
	font-weight:     bold;
}

.srh-ret-txt {
	padding-left:     30px;
}

a.tablink:link {
	font-size:       9pt;
	text-decoration: none;
}

a.tablink:visited {
	color:           #0000ff;
	font-size:       9pt;
	text-decoration: none;
}

a.tablink:hover {
	color:           #FF2222;
	font-size:       9pt;
	text-decoration: none;
}

a.tablink:active {
	font-size:       9pt;
	text-decoration: none;
}

a.pagelink:link {
	font-size:       10pt;
	text-decoration: none;
}

a.pagelink:visited {
	color:           #0000ff;
	font-size:       10pt;
	text-decoration: none;
}

a.pagelink:hover {
	color:           #FF2222;
	font-size:       10pt;
	text-decoration: none;
}

a.pagelink:active {
	font-size:       10pt;
	text-decoration: none;
}
