BODY, TABLE, INPUT { 
	font-size: 10pt;
	font-family: "Verdana", sans-serif;
}



.gray {
	background-color: #717171;
	color: #FFFFFF;	font-size: 11pt; font-weight: bold;
	height: 20px;
}
.gray2 {
	background-color: #C9C9C9;
	color: #666666;	font-size: 10pt;
	padding: 5px 10px; text-align: center;
}
.gray3 {
	background-color: #DDE3E6;
	color: #666666;	font-size: 10pt;
	padding: 5px; line-height: 1.3em;
}
.gray3_dark_left {
	background-color: #C7D0D6;
	color: #666666;	font-size: 10pt;
	padding: 2px 8px; vertical-align: top;
}
.gray4 {
	background-color: #B4BCC5;
	color: #FFFFFF;	font-size: 12pt; font-weight: bold;
	padding: 5px 10px; text-align: right;
}
.gray4_ {
	background-color: #EEEEEE;
	color: #666666;	font-size: 10pt;
	padding: 2px 8px;
}
.gray4_no_text {
	background-color: #EEEEEE;
	padding: 2px 8px;
}
.gray4title {
	background-color: #B4BCC5;
	color: #006699;	font-size: 12pt; font-weight: bold;
	padding-left: 5px 10px;
	text-align: right;
}
.gray5  {
	background-color: #C9C9C9;
	color: #666666;	font-size: 10pt;
	padding: 5px 5px;
}
.color1 {
	background-color: #DDE3E6;
	color: #666666;	font-size: 10pt;
	padding-left: 5px; line-height: 1.5em;
}
.d_image {
	background-image: url(../icon/default.png); background-repeat: no-repeat;
	height: 352px; width: 621px;
}
.text00 {
	color: #666666;	font-size: 10pt;
	text-align: right;
}





div.titlelist       {
	background:#C7D0D6;
	color:#666666; font-size:10pt;
	padding: 3px 5px;
	border: 0px solid #A3B5BC; border-left-width: 3px;
	width:100%;	cursor:hand;
}
div.titlelist_hover {
	background:#DDE3E6;
	color:#DC883D; font-size:10pt;
	padding: 3px 5px;
	border: 0px solid #A3B5BC; border-left-width: 10px;
	cursor:hand; width:100%;
}



body.category{
	background-color: #E9EEEA;
}

div.categorylist { padding:20px }
div.category        {
	background:#FFFFFF;
	color:#000000; font-size:10pt;
	border: 1px solid #CCCCCC;
	padding:2px; margin:8px 20px;
	cursor:hand;
}
div.category_hover  {
	background:#C6CFD3;
	color:#FFFFFF; font-size:10pt;
	border: 1px solid #CCCCCC;
	padding:2px; margin:8px 20px;
	cursor:hand;
}
div.category_active {
	background:#A9B2B7;
	color:#FFFFFF; font-size:10pt;
	border: 1px solid #CCCCCC;
	padding:2px; margin:8px 20px;
	cursor:hand;
}



div.menu        {
	background:#FFFFFF;
	color:#000000;	font-size: 10pt;
	border: 1px solid #CCCCCC;
	padding: 2px 3px;
	width: 100%; cursor:hand;
}
div.menu_hover  {
	background:#C6CFD3;
	color:#FFFFFF;	font-size: 10pt;
	border: 1px solid #CCCCCC;
	padding: 2px 3px;
	width: 100%; cursor:hand;
}
div.menu_active {
	background:#A9B2B7;
	color:#FFFFFF;	font-size: 10pt;
	border: 1px solid #CCCCCC;
	padding: 2px 3px;
	width: 100%; cursor:hand;
}



div.text             {
	color:#1B6384; font-size:10pt; text-decoration:underline;
	padding:4;
	cursor:hand;
}
div.text_hover       {
	color:#DC883D; font-size:10pt; text-decoration:none;
	padding:4;
	cursor:hand;
}
div.text_hover_other {
	color:#3B96BF; font-size:10pt; text-decoration:none;
	padding:4;
	cursor:hand;
}

div.text2             {
	color:#1B6384; font-size:10pt; text-decoration:underline;
	cursor:hand;
}
div.text2_hover       {
	color:#DC883D; font-size:10pt; text-decoration:none;
	cursor:hand;
}
div.text2_hover_other {
	color:#3B96BF; font-size:10pt; text-decoration:none;
	cursor:hand;
}



div.loads_ref       {
	color:#1B6384; font-size:10pt; text-decoration:underline;
	padding:1;
	cursor:hand;
}
div.loads_ref_hover {
	color:#DC883D; font-size:10pt; text-decoration:none;
	padding:1;
	cursor:hand;
}



div.title     {
	background:#666666;
	color:#FFFFFF; font-size:10pt; font-weight:bold;
	width:100%; margin-bottom:20px; margin-top:4px
}
div.title_map {
	background:#666666;
	color:#FFFFFF; font-size:10pt; font-weight:bold;
	width:100%; 
}



div.lblIndex { font-size:10pt; font-weight:bold; }


table.partslist { margin:10px 0px; }
table.list { margin:8px 0px; }
td.loads_title{ color: #666666;  font-size: 14pt;  font-weight: bold;}
p.space{ margin: 30px 0px }


span.pinfo_link_entry{ font-size: 8pt; }
span.loads_ps_order{ color:#666666; font-size: 12pt; }
span.terminal{ font-size: 11pt; }


input.button1{ font-family: Arial; }



div.readme-button {
	padding:	3px;
	text-align:	center;
}


<!-- for repairWH -->
a.ewdlink:link {
	font-size:10pt;
	color:#1B6384;
	text-decoration:underline;
}

a.ewdlink:visited {
	font-size:10pt;
	color:#1B6384;
	text-decoration:underline;
}

a.ewdlink:hover {
	font-size:10pt;
	color:#DC883D;
	text-decoration:none;
}

a.ewdlink:active {
	font-size:       10pt;
	text-decoration: underline;
}
<!-- for repairWH -->


a.readme-button {
	width:            90px;
	font-weight:      bold;
	font-size:        9pt;
	font-family:      Arial;
	text-align:       center;
	text-decoration:  none;
	
	background-color: #a82e2e;
	color:            #ffffff;
}

a.readme-button:hover {
	font-size:        9pt;
	background-color: #cd5c5c;
	color:            #ffff99;
}


div.text-link
{
	padding:	4;
}

div.loads-link
{
	padding:	1;
}

span.text             {
	color:#1B6384; font-size:10pt; text-decoration:underline;
	cursor:hand;
}
span.text_hover       {
	color:#DC883D; font-size:10pt; text-decoration:none;
	cursor:hand;
}
span.text_hover_other {
	color:#3B96BF; font-size:10pt; text-decoration:none;
	cursor:hand;
}

span.loads_ref       {
	color:#1B6384; font-size:10pt; text-decoration:underline;
	cursor:hand;
}

span.loads_ref_hover {
	color:#DC883D; font-size:10pt; text-decoration:none;
	cursor:hand;
}

