/* $Id: global.css,v 1.5 2003/10/14 05:57:13 sugita Exp $ */


BODY {
	font-family: "Arial", sans-serif;
	font-size:        10pt;
	margin:           1pt;
	backgroung-color: #ffffff;
}

p.system-name {
	color:         #A82E2E;
	font-size:     14pt;
	font-weight:   bold;
	margin-bottom: 5px;
}

p.bold-name {
	font-size:     10pt;
	font-weight:   bold;
	margin-bottom: 3px;
}

p.select-name {
	margin-top:       1px;
	line-height:      1.0em;
	background-color: #cccccc;
	color:            #FFFFFF;
	font-size:        10pt;
	font-weight:      bold;
	padding:          2px 10px;
	line-height:      1.2em;
	background: linear-gradient(180deg, #8a7d71, #5e442e)
}

td.boundary-top {
	vertical-align: top;
	border-style: solid none none none;
	border-color: #bbbbbb; /*#aaaaaa;*/
	border-widht: 1px
}

img.logo {
	width: 100px;
	margin-bottom:    5px;
}

img.print {
	width:        30px;
	border-width: 0px;
	margin-left:  50px;
	margin-top:   5px;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}

a.popup-button {
	display: inline-block;	width:            110px;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	margin:           1px 2px;
}

a.popup-button:link {
	background-color: #3f8495;
}

a.popup-button:visited {
	background-color: #3f8495;
}

a.popup-button:hover {
	background-color: #0099aa;
	color:            #ccffff;
}

a.popup-button:active {
	background-color: #3f8495;
}

a.window-control-button {
	display: inline-block;	width:            50px;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	margin:           1px 2px;
	visibility:       visible;
}

a.window-control-button:link {
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:visited {
	background-color: #a82e2e;
	color:            #ffffff;
}

a.window-control-button:hover {
	background-color: #cd5c5c;
	color:            #ffff99;
}

a.window-control-button:active {
	background-color: #a82e2e;
	color:            #ffffff;
}
