/* $Id: button.css,v 1.7 2003/11/12 10:56:21 takeo Exp $ */
body {
	font-family:      verdana, sans-serif;
	background-color: #ffffff;
	margin:           0px;
}

img.button {
	border-width: 0px;
	cursor:       hand;
}

.page {
	width:           23px;
	height:          23px;
	color:           #666666;
	font-size:       10pt;
	font-weight:     bold;
	text-decoration: none;
	padding-top:     2px;
	border:          solid 1px #cccccc;
	cursor:          hand;
}

.page:hover {
	color: #ffffff;
	background-color: #99c5d5;
}

.sign {
	color:           #6666ff;
	text-decoration: none;
}
